.product-item-details-page {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.product-item-Data-container {
  display: flex;
}
.product-item-data-image {
  width: 50%;
  height: 500px;
  border-radius: 20px;
  margin: 20px;
  align-self: center;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.rating-views-container {
  display: flex;
}
.reviews {
  margin-left: 20px;
}
.quantity-container {
  display: flex;
  align-items: center;
}
.quantity-controller-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}
.quantity {
  font-size: 30px;
}
.button {
  padding: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #3b82f6;
  border-radius: 10px;
}
.similar-products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
